.watch-anywhere {
    padding: 5.6vw;

    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;

    @media (max-width:768px) {
        display: block;
    }

    
    img {
        max-width: 100%;
    }
    &__text_container {
        padding: 0 2vw;
    }

    h2 {
        margin-bottom: 24px;
    }
}